<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChnyJmS3oNImCHDePvdPDAzBlJCPmNDKc</string>
	<key>GCM_SENDER_ID</key>
	<string>642234322300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>name.adamzaatar.TwitterSwiftUIYoutube</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-12adc</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-12adc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642234322300:ios:33c9525d6020348802a8f9</string>
</dict>
</plist>